### Dow Jones Industrial Average Trading Strategies

Dow Jones Industrial Average measures the stock performance of 30 large companies listed on the stock exchanges in the United State.It is the most commonly followed indices in U.S stock market. 
In this project, we will attempt to use the Dow Jones to develop a strategy that will yield profitability over time. although Dow Jones is not traded directly, however, we can invest in a portfolio that has constituents of Dow Jones.

We might know little or nothing about Dow Jones however, we can make use of wikipedia to help us in the process of getting the vital components to use in this project.

We will do a little web scrapping to get the ticker symbols to pull the data from the web API needed for the project.

In [22]:
# Importing the neccessary libraries
import numpy as np
import pandas as pd
import unicodedata
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
# importing tabular component of dow jones constituents 
pd.read_html("https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average")

[                                                   0  \
 0  Historical logarithmic graph of the DJIA from ...
 1                                         Foundation
 2                                           Operator
 3                                          Exchanges
 4                                     Trading symbol
 5                                       Constituents
 6                                               Type
 7                                         Market cap
 8                                   Weighting method
 9                                            Website

                                                    1
 0  Historical logarithmic graph of the DJIA from ...
 1  February 16, 1885; 135 years ago[1]May 26, 189...
 2                              S&P Dow Jones Indices
 3                      New York Stock ExchangeNASDAQ
 4                                               ^DJI
 5                                                 30
 6                                          Large cap
 7                      $8.33 trillion (Dec. 2019)[3]
 8                               Price-weighted index
 9  us.spindices.com/indices/equity/dow-jones-indu...  ,
                      Company Exchange     Symbol  \
 0                         3M     NYSE  NYSE: MMM
 1           American Express     NYSE  NYSE: AXP
 2                      Amgen   NASDAQ       AMGN
 3                 Apple Inc.   NASDAQ       AAPL
 4                     Boeing     NYSE   NYSE: BA
 5           Caterpillar Inc.     NYSE  NYSE: CAT
 6        Chevron Corporation     NYSE  NYSE: CVX
 7              Cisco Systems   NASDAQ       CSCO
 8      The Coca-Cola Company     NYSE   NYSE: KO
 9                   Dow Inc.     NYSE  NYSE: DOW
 10             Goldman Sachs     NYSE   NYSE: GS
 11            The Home Depot     NYSE   NYSE: HD
 12                 Honeywell     NYSE  NYSE: HON
 13                       IBM     NYSE  NYSE: IBM
 14                     Intel   NASDAQ       INTC
 15         Johnson & Johnson     NYSE  NYSE: JNJ
 16            JPMorgan Chase     NYSE  NYSE: JPM
 17                McDonald's     NYSE  NYSE: MCD
 18               Merck & Co.     NYSE  NYSE: MRK
 19                 Microsoft   NASDAQ       MSFT
 20                      Nike     NYSE  NYSE: NKE
 21          Procter & Gamble     NYSE   NYSE: PG
 22                Salesforce     NYSE  NYSE: CRM
 23   The Travelers Companies     NYSE  NYSE: TRV
 24        UnitedHealth Group     NYSE  NYSE: UNH
 25                   Verizon     NYSE   NYSE: VZ
 26                 Visa Inc.     NYSE    NYSE: V
 27  Walgreens Boots Alliance   NASDAQ        WBA
 28                   Walmart     NYSE  NYSE: WMT
 29   The Walt Disney Company     NYSE  NYSE: DIS

                           Industry  Date added  \
 0                     Conglomerate  1976-08-09
 1               Financial services  1982-08-30
 2          Pharmaceutical industry  2020-08-31
 3           Information technology  2015-03-19
 4            Aerospace and defense  1987-03-12
 5          Construction and Mining  1991-05-06
 6               Petroleum industry  2008-02-19
 7           Information technology  2009-06-08
 8                    Food industry  1987-03-12
 9                Chemical industry  2019-04-02
 10              Financial services  2013-09-20
 11                       Retailing  1999-11-01
 12                    Conglomerate  2020-08-31
 13          Information technology  1979-06-29
 14          Information technology  1999-11-01
 15         Pharmaceutical industry  1997-03-17
 16              Financial services  1991-05-06
 17                   Food industry  1985-10-30
 18         Pharmaceutical industry  1979-06-29
 19          Information technology  1999-11-01
 20                         Apparel  2013-09-20
 21      Fast-moving consumer goods  1932-05-26
 22          Information technology  2020-08-31
 23              Financial services  2009-06-08
 24             Managed health care  2012-09-24
 25               Telecommunication  2004-04-08
 26              Financial services  2013-09-20
 27                       Retailing  2018-06-26
 28                       Retailing  1997-03-17
 29  Broadcasting and entertainment  1991-05-06

                                     Notes Index weighting(September 1, 2020)
 0   As Minnesota Mining and Manufacturing                              3.80%
 1                                     NaN                              2.35%
 2                                     NaN                              5.81%
 3                                     NaN                              2.87%
 4                                     NaN                              4.04%
 5                                     NaN                              3.30%
 6           Also 1930-07-18 to 1999-11-01                              1.97%
 7                                     NaN                              0.97%
 8           Also 1932-05-26 to 1935-11-20                              1.14%
 9                                     NaN                              1.06%
 10                                    NaN                              4.77%
 11                                    NaN                              6.57%
 12                                    NaN                              3.87%
 13          Also 1932-05-26 to 1939-03-04                              2.87%
 14                                    NaN                              1.16%
 15                                    NaN                              3.53%
 16                                    NaN                              2.36%
 17                                    NaN                              4.93%
 18                                    NaN                              1.97%
 19                                    NaN                              5.26%
 20                                    NaN                              2.58%
 21                                    NaN                              3.19%
 22                                    NaN                              6.23%
 23                                    NaN                              2.66%
 24                                    NaN                              7.22%
 25                                    NaN                              1.36%
 26                                    NaN                              4.95%
 27                                    NaN                              0.89%
 28                                    NaN                              3.22%
 29                                    NaN                              3.11%  ,
      Year  Closing value Change in points Change in percent
 0    1885          39.29            10.83             38.05
 1    1886          41.03             1.74              4.43
 2    1887          37.58            −3.45             −8.41
 3    1888          39.39             1.81              4.82
 4    1889          41.56             2.17              5.51
 ..    ...            ...              ...               ...
 130  2015       17425.03          −398.04             −2.23
 131  2016       19762.60          2337.57             13.42
 132  2017       24719.22          4956.62             25.08
 133  2018       23327.46        −1,391.76             −5.63
 134  2019       28538.44          5210.98             22.34

 [135 rows x 4 columns],
     0                                                  1
 0 NaN  Wikimedia Commons has media related to Dow Jon...,
    vteComponents of the Dow Jones Industrial Average  \
 0  3M American Express Amgen Apple Boeing Caterpi...

   vteComponents of the Dow Jones Industrial Average.1
 0  3M American Express Amgen Apple Boeing Caterpi...   ,
          vteMajor United States stock market indices  \
 0  Dow Jones Industrial Average NYSE Composite NA...

        vteMajor United States stock market indices.1
 0  Dow Jones Industrial Average NYSE Composite NA...  ,
   vteMajor North and South American stock market indices  \
 0                                      United States
 1                                             Canada
 2                                             Mexico
 3                                           Colombia
 4                                             Brazil
 5                                              Chile
 6                                          Argentina
 7                                               Peru

   vteMajor North and South American stock market indices.1
 0  Dow Jones Industrial Average Dow Jones Transpo...
 1                 S&P/TSX 60 S&P/TSX Composite Index
 2                   Indice de Precios y Cotizaciones
 3  COLCAP Indice General de la Bolsa de Valores d...
 4                                     Índice Bovespa
 5             Índice de Precio Selectivo de Acciones
 6                                             MERVAL
 7                         S&P/BVL Peru General Index        ,
                                          vteNews Corp  \
 0                     Sister company: Fox Corporation
 1   vteDow Jones & CompanyNational consumer produc...
 2                              vteDow Jones & Company
 3                          National consumer products
 4                                 Enterprise products
 5   vteHarperCollinsUnited States Avon Caedmon Ecc...
 6                                    vteHarperCollins
 7                                       United States
 8                                      United Kingdom
 9                                           Australia
 10                                          Christian
 11                                             Canada
 12  vteNews Corp AustraliaNewspapersMetropolitan T...
 13                             vteNews Corp Australia
 14                                         Newspapers
 15                                       Metropolitan
 16                                           Regional
 17                                         Queensland
 18                                              Other
 19  vteNews Corp Australia community newspapersNew...
 20        vteNews Corp Australia community newspapers
 21                                    NewsLocal (NSW)
 22                                     Messenger (SA)
 23                                        Quest (Qld)
 24                                           Victoria
 25                                         Television
 26                                          Magazines
 27                                              Other
 28                                     Formerholdings
 29  vteNews UK The Times The Sunday Times The Sun ...
 30                                         vteNews UK
 31  The Times The Sunday Times The Sun The Times L...
 32  Other assets Move Realtor.com New York Post Ne...
 33                                       Other assets
 34         See also 21st Century Fox News Corporation

                                        vteNews Corp.1
 0                     Sister company: Fox Corporation
 1   vteDow Jones & CompanyNational consumer produc...
 2                              vteDow Jones & Company
 3   Barron's Financial News MarketWatch.com The Wa...
 4                Factiva S&P Dow Jones Indices (2.6%)
 5   vteHarperCollinsUnited States Avon Caedmon Ecc...
 6                                    vteHarperCollins
 7   Avon Caedmon Ecco Harper Harper Perennial I Ca...
 8   William Collins, Sons Collins Bartholomew The ...
 9                                   Angus & Robertson
 10  BibleGateway.com Thomas Nelson Women of Faith ...
 11           Harlequin Enterprises Love Inspired Mira
 12  vteNews Corp AustraliaNewspapersMetropolitan T...
 13                             vteNews Corp Australia
 14  Metropolitan The Australian The Daily Telegrap...
 15  The Australian The Daily Telegraph (Sydney) He...
 16  Queensland Balonne Beacon Bowen Independent Th...
 17  Balonne Beacon Bowen Independent The Cairns Po...
 18  The Coffs Coast Advocate The Daily Examiner Ge...
 19  vteNews Corp Australia community newspapersNew...
 20        vteNews Corp Australia community newspapers
 21  Manly Daily North Shore Times Northern Distric...
 22  News Review Leader Standard Eastern Courier Ea...
 23                      South-West News Southern Star
 24                        Leader Community Newspapers
 25  Sky News Live Sky News Extra Sky News Weather ...
 26            Big League GQ Australia Vogue Australia
 27  Brisbane Broncos (69%) Foxtel (65%) HT&E (15%)...
 28  Australian Associated Press (47%) ADS (Adelaid...
 29  vteNews UK The Times The Sunday Times The Sun ...
 30                                         vteNews UK
 31  The Times The Sunday Times The Sun The Times L...
 32  Other assets Move Realtor.com New York Post Ne...
 33  Move Realtor.com New York Post News America Ma...
 34         See also 21st Century Fox News Corporation  ,
        vteDow Jones & Company  \
 0  National consumer products
 1         Enterprise products

                             vteDow Jones & Company.1
 0  Barron's Financial News MarketWatch.com The Wa...
 1               Factiva S&P Dow Jones Indices (2.6%)  ,
   vteHarperCollins                                 vteHarperCollins.1
 0    United States  Avon Caedmon Ecco Harper Harper Perennial I Ca...
 1   United Kingdom  William Collins, Sons Collins Bartholomew The ...
 2        Australia                                  Angus & Robertson
 3        Christian  BibleGateway.com Thomas Nelson Women of Faith ...
 4           Canada           Harlequin Enterprises Love Inspired Mira,
                                vteNews Corp Australia  \
 0                                          Newspapers
 1                                        Metropolitan
 2                                            Regional
 3                                          Queensland
 4                                               Other
 5   vteNews Corp Australia community newspapersNew...
 6         vteNews Corp Australia community newspapers
 7                                     NewsLocal (NSW)
 8                                      Messenger (SA)
 9                                         Quest (Qld)
 10                                           Victoria
 11                                         Television
 12                                          Magazines
 13                                              Other
 14                                     Formerholdings

                              vteNews Corp Australia.1
 0   Metropolitan The Australian The Daily Telegrap...
 1   The Australian The Daily Telegraph (Sydney) He...
 2   Queensland Balonne Beacon Bowen Independent Th...
 3   Balonne Beacon Bowen Independent The Cairns Po...
 4   The Coffs Coast Advocate The Daily Examiner Ge...
 5   vteNews Corp Australia community newspapersNew...
 6         vteNews Corp Australia community newspapers
 7   Manly Daily North Shore Times Northern Distric...
 8   News Review Leader Standard Eastern Courier Ea...
 9                       South-West News Southern Star
 10                        Leader Community Newspapers
 11  Sky News Live Sky News Extra Sky News Weather ...
 12            Big League GQ Australia Vogue Australia
 13  Brisbane Broncos (69%) Foxtel (65%) HT&E (15%)...
 14  Australian Associated Press (47%) ADS (Adelaid...  ,
                                                    0  \
 0                                       Metropolitan
 1                                           Regional
 2                                         Queensland
 3                                              Other
 4  vteNews Corp Australia community newspapersNew...
 5        vteNews Corp Australia community newspapers
 6                                    NewsLocal (NSW)
 7                                     Messenger (SA)
 8                                        Quest (Qld)
 9                                           Victoria

                                                    1
 0  The Australian The Daily Telegraph (Sydney) He...
 1  Queensland Balonne Beacon Bowen Independent Th...
 2  Balonne Beacon Bowen Independent The Cairns Po...
 3  The Coffs Coast Advocate The Daily Examiner Ge...
 4  vteNews Corp Australia community newspapersNew...
 5        vteNews Corp Australia community newspapers
 6  Manly Daily North Shore Times Northern Distric...
 7  News Review Leader Standard Eastern Courier Ea...
 8                      South-West News Southern Star
 9                        Leader Community Newspapers  ,
             0                                                  1
 0  Queensland  Balonne Beacon Bowen Independent The Cairns Po...
 1       Other  The Coffs Coast Advocate The Daily Examiner Ge...,
   vteNews Corp Australia community newspapers  \
 0                             NewsLocal (NSW)
 1                              Messenger (SA)
 2                                 Quest (Qld)
 3                                    Victoria

        vteNews Corp Australia community newspapers.1
 0  Manly Daily North Shore Times Northern Distric...
 1  News Review Leader Standard Eastern Courier Ea...
 2                      South-West News Southern Star
 3                        Leader Community Newspapers  ,
                                           vteNews UK  \
 0  The Times The Sunday Times The Sun The Times L...

                                         vteNews UK.1
 0  The Times The Sunday Times The Sun The Times L...  ,
               0                                                  1
 0  Other assets  Move Realtor.com New York Post News America Ma...]

In [6]:
# importing the dataset needed for analysis by pulling the 2nd table
const = pd.read_html("https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average")[1]
const

,Company,Exchange,Symbol,Industry,Date added,Notes,"Index weighting(September 1, 2020)"
0,3M,NYSE,NYSE: MMM,Conglomerate,1976-08-09,As Minnesota Mining and Manufacturing,3.80%
1,American Express,NYSE,NYSE: AXP,Financial services,1982-08-30,NaN,2.35%
2,Amgen,NASDAQ,AMGN,Pharmaceutical industry,2020-08-31,NaN,5.81%
3,Apple Inc.,NASDAQ,AAPL,Information technology,2015-03-19,NaN,2.87%
4,Boeing,NYSE,NYSE: BA,Aerospace and defense,1987-03-12,NaN,4.04%
5,Caterpillar Inc.,NYSE,NYSE: CAT,Construction and Mining,1991-05-06,NaN,3.30%
6,Chevron Corporation,NYSE,NYSE: CVX,Petroleum industry,2008-02-19,Also 1930-07-18 to 1999-11-01,1.97%
7,Cisco Systems,NASDAQ,CSCO,Information technology,2009-06-08,NaN,0.97%
8,The Coca-Cola Company,NYSE,NYSE: KO,Food industry,1987-03-12,Also 1932-05-26 to 1935-11-20,1.14%
9,Dow Inc.,NYSE,NYSE: DOW,Chemical industry,2019-04-02,NaN,1.06%
10,Goldman Sachs,NYSE,NYSE: GS,Financial services,2013-09-20,NaN,4.77%
11,The Home Depot,NYSE,NYSE: HD,Retailing,1999-11-01,NaN,6.57%
12,Honeywell,NYSE,NYSE: HON,Conglomerate,2020-08-31,NaN,3.87%
13,IBM,NYSE,NYSE: IBM,Information technology,1979-06-29,Also 1932-05-26 to 1939-03-04,2.87%
14,Intel,NASDAQ,INTC,Information technology,1999-11-01,NaN,1.16%
15,Johnson & Johnson,NYSE,NYSE: JNJ,Pharmaceutical industry,1997-03-17,NaN,3.53%
16,JPMorgan Chase,NYSE,NYSE: JPM,Financial services,1991-05-06,NaN,2.36%
17,McDonald's,NYSE,NYSE: MCD,Food industry,1985-10-30,NaN,4.93%
18,Merck & Co.,NYSE,NYSE: MRK,Pharmaceutical industry,1979-06-29,NaN,1.97%
19,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01,NaN,5.26%
20,Nike,NYSE,NYSE: NKE,Apparel,2013-09-20,NaN,2.58%
21,Procter & Gamble,NYSE,NYSE: PG,Fast-moving consumer goods,1932-05-26,NaN,3.19%
22,Salesforce,NYSE,NYSE: CRM,Information technology,2020-08-31,NaN,6.23%
23,The Travelers Companies,NYSE,NYSE: TRV,Financial services,2009-06-08,NaN,2.66%
24,UnitedHealth Group,NYSE,NYSE: UNH,Managed health care,2012-09-24,NaN,7.22%
25,Verizon,NYSE,NYSE: VZ,Telecommunication,2004-04-08,NaN,1.36%
26,Visa Inc.,NYSE,NYSE: V,Financial services,2013-09-20,NaN,4.95%
27,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26,NaN,0.89%
28,Walmart,NYSE,NYSE: WMT,Retailing,1997-03-17,NaN,3.22%
29,The Walt Disney Company,NYSE,NYSE: DIS,Broadcasting and entertainment,1991-05-06,NaN,3.11%

In [15]:
# Dropping unwanted columns 
const =  const.iloc[:, :4].copy()
const.head(10)

                 Company Exchange     Symbol                 Industry
0                     3M     NYSE  NYSE: MMM             Conglomerate
1       American Express     NYSE  NYSE: AXP       Financial services
2                  Amgen   NASDAQ       AMGN  Pharmaceutical industry
3             Apple Inc.   NASDAQ       AAPL   Information technology
4                 Boeing     NYSE   NYSE: BA    Aerospace and defense
5       Caterpillar Inc.     NYSE  NYSE: CAT  Construction and Mining
6    Chevron Corporation     NYSE  NYSE: CVX       Petroleum industry
7          Cisco Systems   NASDAQ       CSCO   Information technology
8  The Coca-Cola Company     NYSE   NYSE: KO            Food industry
9               Dow Inc.     NYSE  NYSE: DOW        Chemical industry

In [16]:
# Rename the columns for easier manipulation
#const.rename(columns = {"Date added":"Date_Added"}, inplace = True)
#const.head()

In [17]:
# Putting a time stamp on date
#const.Date_Added = pd.to_datetime(const.Date_Added)

In [18]:
# Checking the data info
const.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
Company     30 non-null object
Exchange    30 non-null object
Symbol      30 non-null object
Industry    30 non-null object
dtypes: object(4)
memory usage: 1.1+ KB

In [19]:
const

,Company,Exchange,Symbol,Industry
0,3M,NYSE,NYSE: MMM,Conglomerate
1,American Express,NYSE,NYSE: AXP,Financial services
2,Amgen,NASDAQ,AMGN,Pharmaceutical industry
3,Apple Inc.,NASDAQ,AAPL,Information technology
4,Boeing,NYSE,NYSE: BA,Aerospace and defense
5,Caterpillar Inc.,NYSE,NYSE: CAT,Construction and Mining
6,Chevron Corporation,NYSE,NYSE: CVX,Petroleum industry
7,Cisco Systems,NASDAQ,CSCO,Information technology
8,The Coca-Cola Company,NYSE,NYSE: KO,Food industry
9,Dow Inc.,NYSE,NYSE: DOW,Chemical industry
10,Goldman Sachs,NYSE,NYSE: GS,Financial services
11,The Home Depot,NYSE,NYSE: HD,Retailing
12,Honeywell,NYSE,NYSE: HON,Conglomerate
13,IBM,NYSE,NYSE: IBM,Information technology
14,Intel,NASDAQ,INTC,Information technology
15,Johnson & Johnson,NYSE,NYSE: JNJ,Pharmaceutical industry
16,JPMorgan Chase,NYSE,NYSE: JPM,Financial services
17,McDonald's,NYSE,NYSE: MCD,Food industry
18,Merck & Co.,NYSE,NYSE: MRK,Pharmaceutical industry
19,Microsoft,NASDAQ,MSFT,Information technology
20,Nike,NYSE,NYSE: NKE,Apparel
21,Procter & Gamble,NYSE,NYSE: PG,Fast-moving consumer goods
22,Salesforce,NYSE,NYSE: CRM,Information technology
23,The Travelers Companies,NYSE,NYSE: TRV,Financial services
24,UnitedHealth Group,NYSE,NYSE: UNH,Managed health care
25,Verizon,NYSE,NYSE: VZ,Telecommunication
26,Visa Inc.,NYSE,NYSE: V,Financial services
27,Walgreens Boots Alliance,NASDAQ,WBA,Retailing
28,Walmart,NYSE,NYSE: WMT,Retailing
29,The Walt Disney Company,NYSE,NYSE: DIS,Broadcasting and entertainment

Even thou the data looks clean, the data is not really clean because the strings are originally from html code the unicode needs to be encoded and normalized.

In [24]:
# example of unicode
const.Symbol[5]

'NYSE:\xa0CAT'

In [30]:
# We will create a lambda function to normalize the unicode
const.Symbol.apply(lambda x: unicodedata.normalize("NFKD", x))

0     NYSE: MMM
1     NYSE: AXP
2          AMGN
3          AAPL
4      NYSE: BA
5     NYSE: CAT
6     NYSE: CVX
7          CSCO
8      NYSE: KO
9     NYSE: DOW
10     NYSE: GS
11     NYSE: HD
12    NYSE: HON
13    NYSE: IBM
14         INTC
15    NYSE: JNJ
16    NYSE: JPM
17    NYSE: MCD
18    NYSE: MRK
19         MSFT
20    NYSE: NKE
21     NYSE: PG
22    NYSE: CRM
23    NYSE: TRV
24    NYSE: UNH
25     NYSE: VZ
26      NYSE: V
27          WBA
28    NYSE: WMT
29    NYSE: DIS
Name: Symbol, dtype: object

In [31]:
# Using the lambda fuction to normalize
const.Symbol = const.Symbol.apply(lambda x: unicodedata.normalize("NFKD", x))

In [32]:
# example of normalized unicode string
const.Symbol[5]

'NYSE: CAT'

In [36]:
# We will use the split method to obtain the tickers
const.Symbol.str.split(": ").apply(lambda x: x[-1])

0      MMM
1      AXP
2     AMGN
3     AAPL
4       BA
5      CAT
6      CVX
7     CSCO
8       KO
9      DOW
10      GS
11      HD
12     HON
13     IBM
14    INTC
15     JNJ
16     JPM
17     MCD
18     MRK
19    MSFT
20     NKE
21      PG
22     CRM
23     TRV
24     UNH
25      VZ
26       V
27     WBA
28     WMT
29     DIS
Name: Symbol, dtype: object

In [37]:
# Adding the tickers to our dataset
const["Ticker"] = const.Symbol.str.split(": ").apply(lambda x: x[-1])

In [35]:
const

,Company,Exchange,Symbol,Industry,Ticker
0,3M,NYSE,NYSE: MMM,Conglomerate,MMM
1,American Express,NYSE,NYSE: AXP,Financial services,AXP
2,Amgen,NASDAQ,AMGN,Pharmaceutical industry,AMGN
3,Apple Inc.,NASDAQ,AAPL,Information technology,AAPL
4,Boeing,NYSE,NYSE: BA,Aerospace and defense,BA
5,Caterpillar Inc.,NYSE,NYSE: CAT,Construction and Mining,CAT
6,Chevron Corporation,NYSE,NYSE: CVX,Petroleum industry,CVX
7,Cisco Systems,NASDAQ,CSCO,Information technology,CSCO
8,The Coca-Cola Company,NYSE,NYSE: KO,Food industry,KO
9,Dow Inc.,NYSE,NYSE: DOW,Chemical industry,DOW
10,Goldman Sachs,NYSE,NYSE: GS,Financial services,GS
11,The Home Depot,NYSE,NYSE: HD,Retailing,HD
12,Honeywell,NYSE,NYSE: HON,Conglomerate,HON
13,IBM,NYSE,NYSE: IBM,Information technology,IBM
14,Intel,NASDAQ,INTC,Information technology,INTC
15,Johnson & Johnson,NYSE,NYSE: JNJ,Pharmaceutical industry,JNJ
16,JPMorgan Chase,NYSE,NYSE: JPM,Financial services,JPM
17,McDonald's,NYSE,NYSE: MCD,Food industry,MCD
18,Merck & Co.,NYSE,NYSE: MRK,Pharmaceutical industry,MRK
19,Microsoft,NASDAQ,MSFT,Information technology,MSFT
20,Nike,NYSE,NYSE: NKE,Apparel,NKE
21,Procter & Gamble,NYSE,NYSE: PG,Fast-moving consumer goods,PG
22,Salesforce,NYSE,NYSE: CRM,Information technology,CRM
23,The Travelers Companies,NYSE,NYSE: TRV,Financial services,TRV
24,UnitedHealth Group,NYSE,NYSE: UNH,Managed health care,UNH
25,Verizon,NYSE,NYSE: VZ,Telecommunication,VZ
26,Visa Inc.,NYSE,NYSE: V,Financial services,V
27,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,WBA
28,Walmart,NYSE,NYSE: WMT,Retailing,WMT
29,The Walt Disney Company,NYSE,NYSE: DIS,Broadcasting and entertainment,DIS

In [39]:
# Creating a list of the tickers
ticker_list = const.Ticker.to_list()
ticker_list

['MMM',
 'AXP',
 'AMGN',
 'AAPL',
 'BA',
 'CAT',
 'CVX',
 'CSCO',
 'KO',
 'DOW',
 'GS',
 'HD',
 'HON',
 'IBM',
 'INTC',
 'JNJ',
 'JPM',
 'MCD',
 'MRK',
 'MSFT',
 'NKE',
 'PG',
 'CRM',
 'TRV',
 'UNH',
 'VZ',
 'V',
 'WBA',
 'WMT',
 'DIS']

In [41]:
# we will install yahoo finance 
#!pip install yfinance

In [42]:
import yfinance as yf

In [43]:
#Downloading the Dow Jones Industrial Average date
yf.download("DJI")

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1970-01-02,809.200012,809.200012,809.200012,809.200012,809.200012,0
1970-01-05,811.309998,811.309998,811.309998,811.309998,811.309998,0
1970-01-06,803.659973,803.659973,803.659973,803.659973,803.659973,0
1970-01-07,801.809998,801.809998,801.809998,801.809998,801.809998,0
1970-01-08,802.070007,802.070007,802.070007,802.070007,802.070007,0
...,...,...,...,...,...,...
2020-09-24,26815.400391,26815.400391,26815.400391,26815.400391,26815.400391,0
2020-09-29,27452.699219,27452.699219,27452.699219,27452.699219,27452.699219,0
2020-09-30,27781.699219,27781.699219,27781.699219,27781.699219,27781.699219,0
2020-10-02,27682.800781,27682.800781,27682.800781,27682.800781,27682.800781,0
2020-10-05,28148.599609,28148.599609,28148.599609,28148.599609,28148.599609,0

We want data from 2010-01-01 to 2020-10-05

In [46]:
# downloading data
dji = yf.download("^DJI",start = "2010-01-01", end = "2020-10-05")
dji

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,10430.690430,10604.969727,10430.690430,10583.959961,10583.959961,179780000
2010-01-05,10584.559570,10584.559570,10522.519531,10572.019531,10572.019531,188540000
2010-01-06,10564.719727,10594.990234,10546.549805,10573.679688,10573.679688,186040000
2010-01-07,10571.110352,10612.370117,10505.209961,10606.860352,10606.860352,217390000
2010-01-08,10606.400391,10619.400391,10554.330078,10618.190430,10618.190430,172710000
...,...,...,...,...,...,...
2020-09-28,27362.140625,27722.599609,27362.140625,27584.060547,27584.060547,401860000
2020-09-29,27560.240234,27605.599609,27338.089844,27452.660156,27452.660156,303820000
2020-09-30,27514.640625,28026.330078,27511.060547,27781.699219,27781.699219,452550000
2020-10-01,27940.630859,28041.460938,27669.259766,27816.900391,27816.900391,373450000
2020-10-02,27536.390625,27861.429688,27382.939453,27682.810547,27682.810547,392770000

In [47]:
# checking the data info
dji.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2707 entries, 2010-01-04 to 2020-10-02
Data columns (total 6 columns):
Open         2707 non-null float64
High         2707 non-null float64
Low          2707 non-null float64
Close        2707 non-null float64
Adj Close    2707 non-null float64
Volume       2707 non-null int64
dtypes: float64(5), int64(1)
memory usage: 148.0 KB

In [48]:
# ticker list 
ticker_list

['MMM',
 'AXP',
 'AMGN',
 'AAPL',
 'BA',
 'CAT',
 'CVX',
 'CSCO',
 'KO',
 'DOW',
 'GS',
 'HD',
 'HON',
 'IBM',
 'INTC',
 'JNJ',
 'JPM',
 'MCD',
 'MRK',
 'MSFT',
 'NKE',
 'PG',
 'CRM',
 'TRV',
 'UNH',
 'VZ',
 'V',
 'WBA',
 'WMT',
 'DIS']

In [49]:
# pulling the data from yahoo finance for our ticker list
prices = yf.download(ticker_list, start = "2010-01-01", end = "2020-10-01")

[*********************100%***********************]  30 of 30 completed

In [50]:
prices

             Adj Close                                                  \
                  AAPL        AMGN         AXP          BA         CAT
Date
2010-01-04    6.604801   46.327202   34.774685   43.441975   42.634403
2010-01-05    6.616219   45.925884   34.698196   44.864773   43.144135
2010-01-06    6.510980   45.580757   35.259079   46.225727   43.275200
2010-01-07    6.498945   45.163395   35.830952   48.097031   43.449959
2010-01-08    6.542150   45.564713   35.805344   47.633064   43.937828
...                ...         ...         ...         ...         ...
2020-09-25  112.279999  243.820007   96.260002  156.029999  145.910004
2020-09-28  114.959999  247.029999   98.820000  166.080002  147.679993
2020-09-29  114.089996  248.300003   97.750000  163.600006  147.410004
2020-09-30  115.809998  254.160004  100.250000  165.259995  149.149994
2020-10-01         NaN         NaN         NaN         NaN         NaN

                                                                     ...  \
                   CRM       CSCO        CVX         DIS        DOW  ...
Date                                                                 ...
2010-01-04   18.705000  18.613705  52.293617   27.933924        NaN  ...
2010-01-05   18.625000  18.530785  52.664024   27.864237        NaN  ...
2010-01-06   18.592501  18.410154  52.670624   27.716166        NaN  ...
2010-01-07   18.510000  18.493084  52.472206   27.724878        NaN  ...
2010-01-08   18.537500  18.591087  52.564808   27.768419        NaN  ...
...                ...        ...        ...         ...        ...  ...
2020-09-25  242.740005  38.098591  71.830002  124.000000  46.040001  ...
2020-09-28  246.669998  38.772377  73.930000  125.989998  47.480000  ...
2020-09-29  247.449997  38.703018  71.900002  125.400002  46.570000  ...
2020-09-30  251.320007  39.029999  72.000000  124.080002  47.049999  ...
2020-10-01         NaN        NaN        NaN         NaN        NaN  ...

                Volume                                                 \
                   MRK        MSFT         NKE         PG         TRV
Date
2010-01-04  13896500.0  38409100.0  11972400.0  9190800.0   3716000.0
2010-01-05  14744800.0  49749600.0   6275200.0  8649400.0   5941900.0
2010-01-06  15239900.0  58182400.0  13399200.0  9908400.0  10124500.0
2010-01-07  11916600.0  50559700.0   7187600.0  8972800.0   4901600.0
2010-01-08  10767100.0  51197400.0   7249600.0  8464600.0   3933100.0
...                ...         ...         ...        ...         ...
2020-09-25   6614600.0  29437300.0   9182800.0  4969900.0   1714100.0
2020-09-28   5843200.0  32004900.0   7525000.0  5810800.0   1555900.0
2020-09-29   6433600.0  24221900.0   7796400.0  4492100.0   1306500.0
2020-09-30  11062600.0  33780700.0   8698000.0  8727800.0   1595800.0
2020-10-01         NaN         NaN         NaN        NaN         NaN


                   UNH           V          VZ         WBA         WMT
Date
2010-01-04  12199500.0  20180000.0  16176600.0   8171000.0  20753100.0
2010-01-05  11180700.0  25833600.0  23722900.0  10843200.0  15648400.0
2010-01-06   9761100.0  16254000.0  37506400.0   8945400.0  12517200.0
2010-01-07  11789800.0  27841200.0  25508200.0   5040700.0  10662700.0
2010-01-08   7228700.0  11907200.0  20658300.0   6139800.0  11363200.0
...                ...         ...         ...         ...         ...
2020-09-25   2455800.0   5496100.0  10676300.0   5955400.0   7539600.0
2020-09-28   2575700.0   5565300.0  11910500.0   5901600.0   7065700.0
2020-09-29   1797800.0   5513500.0  10005900.0   5079100.0   9234300.0
2020-09-30   3497300.0   9132900.0  16347800.0   6675900.0  11605300.0
2020-10-01         NaN         NaN         NaN         NaN         NaN

[2707 rows x 180 columns]

In [51]:
# Checking the info for our new data
prices.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2707 entries, 2010-01-04 to 2020-10-01
Columns: 180 entries, (Adj Close, AAPL) to (Volume, WMT)
dtypes: float64(180)
memory usage: 3.7 MB

In [52]:
# we are interested in only the colsing price
prices = prices.loc[:, "Close"].copy()

In [53]:
prices

,AAPL,AMGN,AXP,BA,CAT,CRM,CSCO,CVX,DIS,DOW,...,MRK,MSFT,NKE,PG,TRV,UNH,V,VZ,WBA,WMT
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,7.643214,57.720001,40.919998,56.180000,58.549999,18.705000,24.690001,79.059998,32.070000,NaN,...,37.009998,30.950001,16.337500,61.119999,49.810001,31.530001,22.035000,31.212946,37.299999,54.230000
2010-01-05,7.656428,57.220001,40.830002,58.020000,59.250000,18.625000,24.580000,79.620003,31.990000,NaN,...,37.160000,30.959999,16.402500,61.139999,48.630001,31.480000,21.782499,31.269218,37.000000,53.689999
2010-01-06,7.534643,56.790001,41.490002,59.779999,59.430000,18.592501,24.420000,79.629997,31.820000,NaN,...,37.660000,30.770000,16.302500,60.849998,47.939999,31.790001,21.490000,29.937416,36.720001,53.570000
2010-01-07,7.520714,56.270000,41.980000,62.200001,59.669998,18.510000,24.530001,79.330002,31.830000,NaN,...,37.720001,30.450001,16.462500,60.520000,48.630001,33.009998,21.690001,29.759218,36.939999,53.599998
2010-01-08,7.570714,56.770000,41.950001,61.599998,60.340000,18.537500,24.660000,79.470001,31.879999,NaN,...,37.700001,30.660000,16.430000,60.439999,48.560001,32.700001,21.750000,29.777975,36.990002,53.330002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-09-25,112.279999,243.820007,96.260002,156.029999,145.910004,242.740005,38.450001,71.830002,124.000000,46.040001,...,82.930000,207.820007,124.230003,137.619995,108.110001,302.500000,197.250000,59.389999,35.430000,137.270004
2020-09-28,114.959999,247.029999,98.820000,166.080002,147.679993,246.669998,39.130001,73.930000,125.989998,47.480000,...,82.760002,209.440002,124.320000,138.009995,110.220001,303.230011,200.320007,59.360001,36.070000,137.250000
2020-09-29,114.089996,248.300003,97.750000,163.600006,147.410004,247.449997,39.060001,71.900002,125.400002,46.570000,...,81.900002,207.259995,126.349998,137.259995,107.440002,304.149994,199.440002,59.240002,35.380001,137.139999
2020-09-30,115.809998,254.160004,100.250000,165.259995,149.149994,251.320007,39.389999,72.000000,124.080002,47.049999,...,82.949997,210.330002,125.540001,138.990005,108.190002,311.769989,199.970001,59.490002,35.919998,139.910004
2020-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
# checking the info
prices.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2707 entries, 2010-01-04 to 2020-10-01
Data columns (total 30 columns):
AAPL    2705 non-null float64
AMGN    2705 non-null float64
AXP     2705 non-null float64
BA      2705 non-null float64
CAT     2705 non-null float64
CRM     2705 non-null float64
CSCO    2705 non-null float64
CVX     2705 non-null float64
DIS     2705 non-null float64
DOW     388 non-null float64
GS      2705 non-null float64
HD      2705 non-null float64
HON     2705 non-null float64
IBM     2705 non-null float64
INTC    2705 non-null float64
JNJ     2705 non-null float64
JPM     2705 non-null float64
KO      2705 non-null float64
MCD     2705 non-null float64
MMM     2705 non-null float64
MRK     2705 non-null float64
MSFT    2705 non-null float64
NKE     2705 non-null float64
PG      2705 non-null float64
TRV     2705 non-null float64
UNH     2705 non-null float64
V       2705 non-null float64
VZ      2705 non-null float64
WBA     2705 non-null float64
WMT     2705 non-null float64
dtypes: float64(30)
memory usage: 655.6 KB